.hidden{
    display: none;
}
.right{
}
.down{
    transform: rotate(90deg);
}
.left{
    transform: rotate(180deg);
}
.up{
    transform: rotate(-90deg);
}
img{
    transition: all 1s ease;
    width: 100%;
    height: 100%;
}
#game{
    position: relative;
    width: 1000px;
    height: 800px;
    border: 1px solid lawngreen;
    background-color: #764E2C;
    cursor: crosshair;
}
#display{
    width: 1000px;
    height: 800px;
    overflow: scroll;
    float: left;
}
#player{
    position: absolute;
}
.new_block{
    position: absolute;
    border: 1px black dotted;
    background: azure;
    opacity: 0.4;
}
.in_lvl{
    position: absolute;
    border: 1px black dashed;
    background: azure;
    opacity: 0.2;
}
*{
    -moz-user-select: none; /* Mozilla Firefox */
    -ms-user-select: none; /* Internet Explorer (не поддерживается) */
    -o-user-select: none; /* Opera Presto (не поддерживается) */
    -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
input{
    -moz-user-select: text; /* Mozilla Firefox */
    -ms-user-select: text; /* Internet Explorer (не поддерживается) */
    -o-user-select: text; /* Opera Presto (не поддерживается) */
    -webkit-user-select: text; /* Google Chrome, Opera Next, Safari */
}
.header{
    position: fixed;
    top: 0px;
    background: #27303e;
    width: 100%;
    left: 0px;
    height: 80px;
    z-index: 5;
}
.header .cont{
    width: 1000px;
    margin: auto;
    box-shadow: inset 0 0 15px 10px rgba(24,26,29,0.5);
    height: calc(100% - 40px);
    margin-top: 10px;
    padding: 10px;
}
#constructor{
    float: right;
}
.container{
    width: 1300px;
    margin: 100px auto;
}
#top-panel{
    background: cyan;
    width: 100%;
    height: 90px;
}
#right-panel{
    float: left;
    background: cyan;
    width: 300px;
    height: 800px;
    position: relative;
}
select{
    width: 90%;
    margin: 10px auto;
    display: block;
}
.colision-table{
    max-height: 300px;
    overflow: auto;
    width:90%;
    margin: auto;
    margin-bottom: 10px;
}
#colision-table{
    width: 100%;
    text-align: center;
}
#colision-table tbody tr:hover{
    background: cadetblue;
}
#creatNewLvl{
    float: right;
    margin: 10px;
    width: 281px;
    height: calc(100% - 20px);
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    background: aqua;
}
.poppup-back{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 998;
}
.poppup{
    position: fixed;
    width: 600px;
    min-height: 100px;
    background: white;
    margin-top: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.pop-crtLvl > div{
    width: 300px;
    margin: auto;
    padding: 50px 0px;
}
.pop-crtLvl input{
    width: 90%;
    margin: 10px auto;
    height: 50px;
}
#save{
    position: absolute;
    bottom: 0px;
    margin: 10px;
    width: calc(100% - 20px);
    height: 60px;
    background: aqua;
}